{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver", {
      "cwd": "babelrc",
      "root": ["./src"],
      "alias": {
        "components": "./src/components",
        "configs": "./src/configs",
        "constants": "./src/constants",
        "helpers": "./src/helpers",
        "navigators": "./src/navigators",
        "screens": "./src/screens",
        "store": "./src/store",
        "theme": "./src/theme",
        "translations": "./src/translations"
      },
      "extensions": [".js", ".ios.js", ".android.js"]
    }
    ]
  ]
}
